#section{
    border-bottom: 1px solid gray;
    width: 100vw;
}
#section div{
    background-color: red;
    color: white;
    width: 35px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    position: absolute;
    top: 8px;
    transform: translate(90vw);
}