#header{
    background-color: purple;
    color: white;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 1;
    text-align: center;
}
#main{
    position: absolute;
    top: 100px;
}